﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Semester>

@{
    ViewBag.Title = "Пороговые значения";
    int i = 0;
}

<h2>Пороговые значения </h2>
 <br/>  

<table class="table table-bordered table-striped ">
    <tr>
        <th>
            <b style="font-size:medium">
                <text>№</text>
            </b>
        </th>
        <th>
            <b style="font-size:medium">
                <text>Семестр</text>
            </b>
        </th>
        <th>
            <b style="font-size:medium">
                <text>Пороговое значение</text>
            </b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    i++;
    <tr>
        <td>
            <b style="font-size:small">
                <text>@i</text>
            </b>
        </td>
        <td>
            <b style="font-size:small">
                <text>@item.Number</text>
            </b>
        </td>
        <td>
            <b style="font-size:small">
                <text>@item.Threshold</text>
            </b>
        </td>
        <td class="table-buttons-menu">
            <button type="button" class="btn btn-warning button-edit" value="Редактировать" title="Редактировать" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" ><i class="icon-pencil"></i></button>
        </td>
    </tr>
}

</table>

<br/>

<p>
    <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Edit","Home")'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>



