﻿@model Cadet.PhysicalAccounting.DBProxy.Result

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Result</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cadet.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cadet.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NormId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NormId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Norm.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Norm.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
