﻿@model Cadet.PhysicalAccounting.DBProxy.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Result</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cadet.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cadet.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NormId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NormId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Norm.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Norm.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
