﻿@model Cadet.PhysicalAccounting.DBProxy.Result

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Result</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CadetId, "Cadet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CadetId", String.Empty)
            @Html.ValidationMessageFor(model => model.CadetId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NormId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NormId)
            @Html.ValidationMessageFor(model => model.NormId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SemesterId, "Semester")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SemesterId", String.Empty)
            @Html.ValidationMessageFor(model => model.SemesterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NormId, "Norm")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NormId", String.Empty)
            @Html.ValidationMessageFor(model => model.NormId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
