﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cadet.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Norm.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cadet.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Norm.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
