﻿@model Cadet.PhysicalAccounting.DBProxy.Group

@{
    ViewBag.Title = "Редактирование групп";
}

<h2>Редактирование групп</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Группы</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Number, "Номер группы")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseId, "Курс")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CourseId", String.Empty)
            @Html.ValidationMessageFor(model => model.CourseId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Speciality, "Специализация")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Speciality)
            @Html.ValidationMessageFor(model => model.Speciality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SemesterId, "Семестр")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SemesterId", String.Empty)
            @Html.ValidationMessageFor(model => model.SemesterId)
        </div>

        <p>
            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить</text></button>
            <button type="button" class="btn btn-danger button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index", new {courseId = Model.CourseId })'" ><i class="icon-remove icon-white"></i><text> Отмена</text></button>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
