﻿@{
    ViewBag.Title = "Редактирование";
}



<h2>Редактирование</h2>

<br/>

<ul class="edit-page-list">
    
    <li>
        <a href="@Url.Action("Index", "Faculty")"><i class="icon-pencil"></i> Редактировать факультеты, курсы и группы</a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Norm")"><i class="icon-pencil"></i> Редактировать нормативы</a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Semester")"><i class="icon-pencil"></i> Редактировать пороговые значения</a>
    </li>

    <li>
        <a href="@Url.Action("Index", "NormType")"><i class="icon-pencil"></i> Редактировать названия нормативов</a>
    </li>
</ul>
<br/>


<p>
    <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Index","Home")'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>