﻿@model Cadet.PhysicalAccounting.DBProxy.Cadet

@{
    ViewBag.Title = "Редактирование курсантов";
}

@if (Model.Info.SuccessMessage != null)
{
    <div class="alert alert-success">
        @Model.Info.SuccessMessage
    </div>
}

@if (Model.Info.ErrorMessage != null)
{
    <div class="alert alert-error">
        <strong>Ошибка</strong>: @Model.Info.ErrorMessage
    </div>
}

<h2>Редактирование курсанта</h2>

    <table>
        <tr>
            <td id="cadet-data-editfield">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Курсант</legend>

                        @Html.HiddenFor(model => model.Id)

                        <div class="editor-label">
                            @Html.LabelFor(model => model.LastName, "Фамилия")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LastName)
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FirstName, "Имя")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FathersName, "Отчество")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FathersName)
                            @Html.ValidationMessageFor(model => model.FathersName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Year, "Год поступления")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Year)
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.GroupId, "Группа")
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("GroupId", String.Empty)
                            @Html.ValidationMessageFor(model => model.GroupId)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.RankId, "Звание")
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("RankId", String.Empty)
                            @Html.ValidationMessageFor(model => model.RankId)
                        </div>


                        <p>
                            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить</text></button>
                            <button type="button" class="btn btn-danger button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index", new { groupId = Model.GroupId })'" ><i class="icon-remove icon-white"></i><text> Отмена</text></button>
                        </p>
                    </fieldset>
                }

            </td>

            <td id="cadet-photo-editfield">
                <form action="/Cadet/SavePhoto" method="post" enctype="multipart/form-data">
                            <span id="photo-div" onclick="">
                                @if (Model.Photo == null)
                                {
                                    <text>Фото отсутствует</text>
                                    <img id="photo-div-inner-image" class="img-polaroid" style
                                         src="@Url.Content("~/images/no-avatar.jpg")" alt="Фотография отсутствует"/>
                                }
                                else
                                {
                                    <img id="photo-div-inner-image" class="img-polaroid" 
                                         src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" />
                                }
                                <input type="file" name="imgfile" id="imgfile" class="hidden-file-input"/>
                                <input type="hidden" name="cadetId" id="cadetId" value="@Model.Id" class="hidden-file-input"/>
                        
                            </span>
                            <button id="save-photo-button" class="btn" onclick="chooseFileButton();">Сменить фотографию...</button> 
                        </form>
            </td>
        </tr>
    </table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
