﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Cadet>

@{
    ViewBag.Title = "Группа";
}

<h2>Курсанты группы @ViewBag.GroupNumber
<button type="button" class="btn btn-success button-add" title="Добавить курсанта" value="Добавить курсанта" onclick="location.href='@Url.Action("Create", new { courseId = ViewBag.CourseId, groupId = ViewBag.GroupId })'"><i class="icon-plus"></i></button>

</h2>


<table class="table  table-bordered table-striped ">
    <tr>
        <th>
            <text>Фамилия</text>
        </th>
        <th>
            <text>Имя</text>
        </th>
        <th>
            <text>Отчество</text>
        </th>
        <th>
            <text>Год поступления</text>
        </th>
        <th>
            <text>Группа</text>
        </th>
        <th>
            <text>Звание</text>
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                 <b style="font-size:small">
                 @Html.DisplayFor(modelItem => item.LastName)
                 </b>
            </td>
            <td>
                 <b style="font-size:small">
                 @Html.DisplayFor(modelItem => item.FirstName)
                 </b>
            </td>
            <td>
                <b style="font-size:small">
                @Html.DisplayFor(modelItem => item.FathersName)
                </b>
            </td>
            <td>
                <b style="font-size:small">
                @Html.DisplayFor(modelItem => item.Year)
                </b>
            </td>
            <td>
                <b style="font-size:small">
                @Html.DisplayFor(modelItem => item.Group.CompiledGroupNumber)
                </b>
            </td>
            <td>
                <b style="font-size:small">
                @Html.DisplayFor(modelItem => item.Rank.Name)
                </b>
            </td>
            <td class="table-buttons-menu">
            <button type="button" class="btn btn-warning button-edit" value="Редактировать" title="Редактировать" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" ><i class="icon-pencil"></i></button>
            <!--<input type="button" class="button-view" title="Просмотр" value="Просмотр" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" />-->
            <button type="button" class="btn btn-danger button-delete" value="Удалить" title="Удалить" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'"> <i class="icon-trash"></i></button>
            </td>
        </tr>
    }


</table>

<p>
     <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Index", "Group", new { courseId = ViewBag.CourseId })'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>
