﻿@using Cadet.PhysicalAccounting.Web

@{
    string searchString="";
    if (Model is Cadet.PhysicalAccounting.Web.Models.SearchSessionData)
    {
        searchString = Model.SearchString;
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/bundles/highcharts")
    </head>
    <body>
        <!-- Это header -->
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Военно-космическая академия имени А. Ф. Можайского", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            
                            
                            @if (User.IsPriveleged())
                            {
                                <li><a href="@Url.Action("Edit", "Home")"><i class="icon-pencil"></i>Редактирование</a></li>
                            }
                            
                            @if (AuthConfig.DebugMode)
                            {
                                <li>@Html.ActionLink("Заполнить базу", "Generate", "Home")</li>
                            }
                            <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i>Домой</a></li>
                            @Html.Partial("_LoginPartial")
                            
                            <li>
                                @using (Html.BeginForm("Search", "CadetsData", FormMethod.Get, new Dictionary<string, object> { { "style", "display:inline-block;margin-bottom:0px" } }))
                                      {

                                          <div class="input-append">
                                              <input class="span2" name="searchString" id="search-input"  type="text" value="@searchString" /> 
                                              <button type="submit" class="btn" id="btn-search"> <i class="icon-search" id="btn-search"></i></button>
                                          </div>

                                      }
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="body">
    
            <div id="left-panel"> 
                 @Html.Partial("_LeftPanelPartial")
            </div>
           
                <!-- Это body -->
                <div class="content-wrapper main-content clear-fix">
                   <!-- @RenderSection("featured", required: false) -->

                   <!-- <section class="content-wrapper main-content clear-fix">-->
                        @RenderBody()
                    <!--</section>-->
                </div>
   
         </div>

        <!-- Это footer -->
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - developed by iu7</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
