﻿@using Cadet.PhysicalAccounting.Web;
<h4>Факультеты</h4>




@*
<i class="icon-search"></i>

<form method=get>
    <span>   
        <input id="search-input" title="Поисковый запрос" type="text" />    
    </span>
    <span>
    <input type="button" title="Поиск" value="Поиск" onclick="location.href='@Url.Action("Search", "CadetsData", new { searchString = .ID })'" />
        <button name="search" type=submit id="search-button">Поиск</button>
    </span>
</form>
*@

<div class="tree-block">
    

    @{
        var tree = Cadet.PhysicalAccounting.Web.Controllers.FacultyTreeMaker.CurrentFacultyTree;
        int currentGroupId = -1;
        if (ViewData.Keys.Contains("currentGroupId"))
        {
            currentGroupId = (int)ViewData["currentGroupId"];
        }
     }

  
    <div class="well tree-style">

        <div class="div-tree">
            <ul class="nav nav-list">
               
                @foreach (var fac in tree.Root.Childs)
                {
                    bool openFac = fac.Childs.Any(c => c.Childs.Any(g => g.Id == currentGroupId));
                    string cssFacClass = openFac ? "tree-open" : "tree-close";

                    <li><label class="tree-toggler nav-header">@fac.Name</label>
                        <ul class="nav nav-list tree @cssFacClass">
                            @foreach (var course in fac.Childs)
                            {
                                bool openCourse = course.Childs.Any(g => g.Id == currentGroupId);
                                string cssCourseClass = openCourse ? "tree-open" : "tree-close";
                                                     
                                    <li><label class="tree-toggler nav-header">@course.Name</label>
                                    <ul class="nav nav-list tree @cssCourseClass">
                                        @foreach (var group in course.Childs)
                                        {
                                            bool selectedGroup = group.Id == currentGroupId;
                                            string cssGroupClass = selectedGroup ? "tree-selected" : "tree-unselected";
                                            <li class="@cssGroupClass">
                                             
                                                @Html.ActionLink(group.Name, "Index", "CadetsData", new { groupId = group.Id }, null)                     
                                         
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>                          
                    </li>
                }
            </ul>
        </div>
    </div>


</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/tree")
<!--

JS CODE >>>
  <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">


  <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
       



-->


