﻿@using Cadet.PhysicalAccounting.Web;

@if (Request.IsAuthenticated) {
    <text>
        <li><a href="@Url.Action("Manage", "Account")">Добро пожаловать, <i class="icon-user"></i><b class="username">@User.Identity.Name!</b></a></li>
        <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i>Выйти</a>
        }
        </li>
     </text>
}
else
{
        <li><i class="icon-user"></i>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
