﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Course>

@{
    ViewBag.Title = "Курсы";
}

<h2>Курсы факультета @ViewBag.FacultyName
<button type="button" class="btn btn-success button-add" title="Добавить курс" value="Добавить курс" onclick="location.href='@Url.Action("Create", new { facultyId = ViewBag.FacultyId })'"><i class="icon-plus"></i></button>

</h2>


<table class="table  table-bordered table-striped ">
    <thead>
        <th>
        <b style="font-size:medium">
            <text>Курс</text>
        </b>
        </th>
        <th></th>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
        <b style="font-size:medium">
            @Html.ActionLink(item.Number + " курс", "Index", "Group", new { courseId = item.Id }, null)
         </b>
        </td>
        <td class="table-buttons-menu">
            <button type="button" class="btn btn-warning button-edit" value="Редактировать" title="Редактировать" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" ><i class="icon-pencil"></i></button>
            <!--<input type="button" class="button-view" title="Просмотр" value="Просмотр" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" />-->
            <button type="button" class="btn btn-danger button-delete" value="Удалить" title="Удалить" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'"> <i class="icon-trash"></i></button>
        </td>
    </tr>
}

</table>

<p>
    <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Index","Faculty")'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>
