﻿@model Cadet.PhysicalAccounting.DBProxy.Faculty

@{
    ViewBag.Title = "Создание факультета";
}

<h2>Создание факультета</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Факультет</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number, "Номер факультета")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Number, new { Class = "input-append", type = "number" })
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title, "Название факультета")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <br/>

        <p>
            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить</text></button>
            <button type="button" class="btn btn-danger button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index")'" ><i class="icon-remove icon-white"></i><text> Отмена</text></button>
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
