﻿/*
 *  Стили для списков курсантов, страницы информации о курсанте
 */
 
 /* Стили списка курсантов*/
.cadet-list-item {
    background-color: #ECEDFC;
    color: black;
    border: 1px solid #778899;
    padding: 2px;
    margin: 1px;
    
    width: 100%;
}



.cadet-info-card {
    background-color: #ECEDFC;
    color: black;
    border: 1px solid #778899;
    padding: 3px;
    margin: 3px;
    width: 100%;
}


/* Форма редактирования кадета */
#cadet-data-editfield {
    width: 40%;
}
#cadet-photo-editfield {
    width: 60%;
}
#cadet-photo-editfield #photo-div {
    width: 200px;
    max-width: 200px;
    height: auto;
    text-align: center;
}
#cadet-photo-editfield button {
    width: 200px;
}

/* Таблица карточки с данными */
.info-card-markup {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.info-card-markup td {
    margin: 1px;
    padding: 1px;
    padding-right: 7px;
    
    vertical-align: top;
    text-align: left;
}

.cadet-info-label {
    width: 150px;
    display: inline-block;
    font-weight: bold;
}


.photo-container {
    width: 100px;
    height: 250px;
    margin: 1px;
    padding: 1px;
}
#photo-div {
    display: inline-block;
    /*border: 1px black ridge;*/
    margin: 1px;
    padding: 1px;
}
#photo-div-inner-image {
    width: 90%;
    height: 90%;
}
#save-photo-button {
    width: 100%;
    /*visibility: hidden;*/
}
.hidden-file-input {
    display: none;
}

.cadet-info-photo {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 5px;
}
.cadet-info-data {
    display: inline-block;
    vertical-align: top;
    /*width: 500px;*/
    width: 65%;
}

.cadet-semester-header{
    font-size: 14pt
}

.cadet-semester-dropdown select{
    display: inline-block;
    width: 100px;
}

/* Таблица заполнения ведомости */
#cadets-results-table td,
#cadets-results-table th {
    font-size: 10pt;
}
#cadets-results-table .fio-cell {
    width: 200px;
}
#cadets-results-table {
    overflow: hidden;
    table-layout: fixed;
}
#cadets-results-table .normative {
    width: 100px;
}
#cadets-results-table .normative-sub {
    width: 50px;
}

.table-editor-field {
    display:inline-block;
}

.table-editor-field select {
    width: 100px;
    margin-bottom: 0
}

.table-editor-field input[type=text] {
    width: 80px;
    margin-bottom: 0;
}

/* пространство для графиков */
.cadet-info-graphics 
{
    margin-top: 20px
}

/* Стиль графика */
.cadet-info-graphic 
{
    width: 100%;
    height: 100%;
    margin: 0;
}



/* Страница отчёта */
table#report-container {
    width: 95%;
    height: 95%;
    table-layout: fixed;
    margin: 2em 2em 2.5em 2em;
    padding: 0;
    border: #778899 groove 1px;
    font-size: 10pt;
}
.report-block {
    width: 50%;
    margin: 0;
    padding: 5px;
    border: #778899 groove 1px;
    vertical-align: top;
}

#report-photo-block {
    background-color: #FFFFFF;
    height: 20%;
}
#report-table-block {
    background-color: #FFFFFF;
    height: 20%;
}
#report-graph1-block {
    background-color: #FFFFFF;
    color: #FF0000;
}
#report-graph2-block {
    background-color: #FFFFFF;
}

img#report-photo {
    height: auto;
    max-height: 90mm;
    width: 100%;
    max-width: 40mm;
    display: inline-block;
}

#norm-results {
    margin: 0;
    font-size: 7pt;
}
#norm-results .result-cell-header {
    width: 18%;
    padding: 2px 2px 2px 5px;
    text-align: center;
}
#norm-results .number-cell-header {
    padding: 2px 2px 2px 5px;
    text-align: center;
}
#norm-results .result-cell {
    padding: 1px 1px 1px 5px;
    text-align: center;
}

/*Стили для доступа к БД*/
.table-buttons-menu {
    width: 90px;
}

/* Список менюшек для редактирований списка таблиц  */
.edit-page-list
{
    font-size: 14pt;
    padding: 2px;
    margin: 1px;
    
    width: 100%;
}

.edit-page-list li
{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    margin-top: 10px;
}

.btn#btn-search 
{
    margin-top: 7px;
    height: 20px;
}
.span2#search-input 
{
    height: 10px;
    margin-top: 7px;
}
.icon-search#btn-search
{
    margin-top: -1.7px;
    vertical-align: top;
}