﻿@model Cadet.PhysicalAccounting.DBProxy.Course

@{
    ViewBag.Title = "Удаление курса";
}

<h2>Удалить курс</h2>

<h3>Вы уверены, что хотите удалить @Model.Number курс факультета @Model.Faculty.Title?</h3>

@using (Html.BeginForm()) {
    <p>
        <button class="btn btn-danger button-delete" type="submit" value="Удалить" ><i class="icon-ok icon-white"></i><text> Удалить</text></button>
        <button type="button" class="btn button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index", new { facultyId = Model.FacultyId})'" ><i class="icon-remove"></i><text> Отмена</text></button> 
    </p>
}
