﻿@model Cadet.PhysicalAccounting.DBProxy.Course

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Faculty.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Faculty.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
