﻿@model Cadet.PhysicalAccounting.DBProxy.Norm

@{
    ViewBag.Title = "Создание норматива";
}

<h2>Создание норматива</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Norm</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Норматив")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "Введите название норматива (код).")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description, "Описание норматива")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, "Введите описание норматива.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NormTypeId, "Тип норматива")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NormTypeId", "Выберете тип норматива")
            @Html.ValidationMessageFor(model => model.NormTypeId, "Выберете тип норматива.")
        </div>
        
        <br/>

        <p>
            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить</text></button>
            <button type="button" class="btn btn-danger button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index")'" ><i class="icon-remove icon-white"></i><text> Отмена</text></button>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
