﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Norm>

@{
    ViewBag.Title = "Нормативы";
    int i = 0;
}

<h2>Нормативы 
 <button type="button" class="btn btn-success button-add" title="Добавить норматив" value="Добавить норматив" onclick="location.href='@Url.Action("Create")'"><i class="icon-plus"></i></button>

</h2>
 <br/>  

<table class="table table-bordered table-striped ">
    <tr>
        <th>
            <b style="font-size:medium">
                <text>№</text>
            </b>
        </th>
        <th>
            <b style="font-size:medium">
                <text>Норматив</text>
            </b>
        </th>
        <th>
            <b style="font-size:medium">
                <text>Описание</text>
            </b>
        </th>
        <th>
            <b style="font-size:medium">
                <text>Тип норматива</text>
            </b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    i++;
    <tr>
        <td>
            <b style="font-size:small">
                <text>@i</text>
            </b>
        </td>
        <td>
            <b style="font-size:small">
                <text>@item.Name</text>
            </b>
        </td>
        <td>
            <b style="font-size:small">
                <text>@item.Description</text>
            </b>
        </td>
        <td>
            <b style="font-size:small">
                <text>@item.NormType.Name</text>
            </b>
        </td>
        <td class="table-buttons-menu">
            <button type="button" class="btn btn-warning button-edit" value="Редактировать" title="Редактировать" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" ><i class="icon-pencil"></i></button>
            <!--<input type="button" class="button-view" title="Просмотр" value="Просмотр" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" />-->
            <button type="button" class="btn btn-danger button-delete" value="Удалить" title="Удалить" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'"> <i class="icon-trash"></i></button>
        </td>
    </tr>
}

</table>

<br/>

<p>
    <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Edit","Home")'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>