﻿@model Cadet.PhysicalAccounting.DBProxy.Cadet

@{
    ViewBag.Title = "Добавление курсанта";
}

<h2>Добавление курсанта</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Курсант</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName, "Фамилия")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName, "Имя")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FathersName, "Отчество")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FathersName)
            @Html.ValidationMessageFor(model => model.FathersName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year, "Год поступления")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupId, "Группа")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupId", String.Empty)
            @Html.ValidationMessageFor(model => model.GroupId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RankId, "Звание")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RankId", String.Empty)
            @Html.ValidationMessageFor(model => model.RankId)
        </div>

        <p>
            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить</text></button>
            <button type="button" class="btn btn-danger button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index", new { groupId = ViewBag.SelectedGroupId })'" ><i class="icon-remove icon-white"></i><text> Отмена</text></button>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
