﻿@model Cadet.PhysicalAccounting.DBProxy.Cadet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cadet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FathersName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FathersName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Group.Speciality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group.Speciality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rank.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rank.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
