﻿@using Cadet.PhysicalAccounting.Web.Models
@model Cadet.PhysicalAccounting.DBProxy.Cadet
@{bool animation = (bool)ViewData["animation"];}

<script type="text/javascript"> $(function() {
    $('#columnGraph').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Динамика физического уровня'
        },
        subtitle: {
            text: 'Результаты по направлениям'
        },
        xAxis: {
            categories: [ "@NormsTypes.Power", "@NormsTypes.Agility", "@NormsTypes.Speed", "@NormsTypes.Endurance", "@NormsTypes.Military"]
        },
        yAxis: {
            title: {
                text: 'Баллы'
            }
        },
        tooltip: {
            enabled: true,
            formatter: function() {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.x + ': ' + this.y + 'баллов';
            }
        },
        plotOptions: {
            column: {
                @if(!animation)
                {
                    <text> animation: false, </text>
                }
                dataLabels: {
                    enabled: true,
                    style: {
                        color: '#000000',
                    }
                },
                enableMouseTracking: true
            }
        },
        series: [
            @{
                for (int i = 1; i <= Model.Results.Max(r => r.Semester.Number); i++)
                {
            <text>{ name: '@i сем',</text>
                <text>data: [</text>

                    var sem = Model.Results.Where(r => r.Semester.Number == i);
                    var power = sem.Single(r => r.Norm.NormType.Id == NormsTypes.PowerId);
                    var agility = sem.Single(r => r.Norm.NormType.Id == NormsTypes.AgilityId);
                    var speed = sem.Single(r => r.Norm.NormType.Id == NormsTypes.SpeedId);
                    var endurance = sem.Single(r => r.Norm.NormType.Id == NormsTypes.EnduranceId);
                    var military = sem.Single(r => r.Norm.NormType.Id == NormsTypes.MilitaryId);

                    <text>@power.Value, @agility.Value, @speed.Value, @endurance.Value, @military.Value</text>

                <text>]},</text>
                } 
            }
        ]
        });
    });
</script>

<script type="text/javascript">
                $(function() {
                $('#columnGraphStacked').highcharts({
                chart: {
                type: 'column'
    },
        title:
    {
        text: 'Динамика физического уровня'
    }
    ,
    subtitle: {
                    text: 'Результаты по направлениям'
                }
    ,
    xAxis: {
                categories: [
                    @{
                        for (int i = 1; i <= Model.Results.Max(r => r.Semester.Number); i++)
                        {
                            <text>"@i сем",</text>
                        }
                    }],
                tickmarkPlacement:
                'on', 
            }
    ,
    yAxis: {
                title: {
                            text: 'Баллы'
                        }
            }
    ,
    tooltip: {
                    enabled: true,
                    formatter:

                    function() {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.x + ': ' + this.y + 'баллов';
                    }
                }
    ,
    plotOptions: {
        column: 
        {
                @if(!animation)
                {
                    <text> animation: false, </text>
                }
                                    stacking: 'normal',
                                    dataLabels:
                                    {
                                        enabled: true,
                                        style: {
                                            color: '#FFFFFF',
                                        }
                                    }
                                    ,
                                    enableMouseTracking: true
                                }
                    }
    ,
    series: [{
            name: "@NormsTypes.Power",
            data: [
                @{
                    foreach (var result in Model.Results.Where(r => r.Norm.NormType.Id == NormsTypes.PowerId).OrderBy(r => r.Semester.Number))
                    {
                        <text>@result.Value,</text>
                    }
                }
            ]
        }, {
            name: "@NormsTypes.Agility",
            data: [
                @{
                    foreach (var result in Model.Results.Where(r => r.Norm.NormType.Id == NormsTypes.AgilityId).OrderBy(r => r.Semester.Number))
                    {
                        <text>@result.Value,</text>
                    }
                }
            ]
        }, {
            name: "@NormsTypes.Speed",
            data: [
                @{
                    foreach (var result in Model.Results.Where(r => r.Norm.NormType.Id == NormsTypes.SpeedId).OrderBy(r => r.Semester.Number))
                    {
                        <text>@result.Value,</text>
                    }
                }
            ]
        }, {
            name: "@NormsTypes.Endurance",
            data: [
                @{
                    foreach (var result in Model.Results.Where(r => r.Norm.NormType.Id == NormsTypes.EnduranceId).OrderBy(r => r.Semester.Number))
                    {
                        <text>@result.Value,</text>
                    }
                }
            ]
        }, {
            name: "@NormsTypes.Military",
            data: [
                @{
                    foreach (var result in Model.Results.Where(r => r.Norm.NormType.Id == NormsTypes.MilitaryId).OrderBy(r => r.Semester.Number))
                    {
                        <text>@result.Value,</text>
                    }
                }
            ]
        }]
});
}); 
</script>