﻿@using Cadet.PhysicalAccounting.DBProxy
@model Cadet
@{
    ViewData["animation"] = true;
}
@section scripts
{
    <script type="text/javascript" src="../../Scripts/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../../Scripts/highcharts/modules/exporting.js"></script>
}
@Html.Partial("_ColumnGraphPartial", Model, ViewData)

<div class="subpage-header">Информация о курсанте</div>

@if (Model.Info.InfoMessage != null)
{
    <div class="alert alert-info">
        @Model.Info.InfoMessage
    </div>
}

@if (Model.Info.ErrorMessage != null)
{
    <div class="alert alert-error">
        <strong>Ошибка</strong>: @Model.Info.ErrorMessage
    </div>
}
else if (Model != null)
{
    <p>
    <button type="button" class="btn button-back" title="Назад" value="Назад" onclick="history.back()"><i class="icon-arrow-left"></i><text> Назад</text></button>
    <a  class="btn" target="_blank" href="@Url.Action("Report", "CadetsData", new { cadetId = Model.Id })" ><i class="icon-print"></i><text> Печать</text></a>
    </p>
    
    <div class="cadet-info-card">
        <table class="info-card-markup">
            <tr>
                <td>
                    <div class="photo-container">
                        <span id="photo-div" onclick="">
                            @if (Model.Photo == null)
                            {
                                <text>Фото отсутствует</text>
                                <img id="photo-div-inner-image" class="img-polaroid" 
                                     src="@Url.Content("~/images/no-avatar.jpg")" alt="Фотография отсутствует"/>
                            }
                            else
                            {
                                <img id="photo-div-inner-image" class="img-polaroid" 
                                        src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" />
                            }
                        </span>

                    </div>
                </td>
                

                <td>
                    <span class="cadet-info-data">
                            <div>
                                <span class="cadet-info-label">Группа: </span>
                                <span><b>@Model.Group.CompiledGroupNumber</b></span>
                            </div>
                            <br/>
                            <div>
                                <span class="cadet-info-label">Фамилия: </span>
                                <span>@Model.LastName</span>
                            </div>
                            <div>
                                <span class="cadet-info-label">Имя: </span>
                                <span>@Model.FirstName</span>
                            </div>
                            <div>
                                <span class="cadet-info-label">Отчество: </span> 
                                <span>@Model.FathersName</span>
                            </div>
                            <br/>
                            <div>
                                <span class="cadet-info-label">Год поступления: </span> 
                                <span>@Model.Year</span>
                            </div>
                            <div>
                                <span class="cadet-info-label">Звание: </span> 
                                <span>@Model.Rank.Name</span>
                            </div>
                        </span>
                </td>
            </tr>
            

        </table>
        
    </div>
    
    <div class="cadet-info-graphics">
        <div class="cadet-info-graphic" id="columnGraph" style="width: 100%; height: 70%; margin: 0 2px"></div>
        <div class="cadet-info-graphic" id="columnGraphStacked" style="width: 100%; height: 70%; margin: 0 2px"></div>
    </div>
    
   
}