﻿@model Cadet.PhysicalAccounting.Web.Models.SearchSessionData



@if (Model.Info.ErrorMessage != null)
{
    <div class="subpage-header">Во время поиска возникла ошибка</div>
}
else
{
    <div class="subpage-header">Результат поиска по запросу "@Model.SearchString" :</div>
}

@if (Model.Info.InfoMessage != null)
{
    <div class="alert alert-info">
        @Model.Info.InfoMessage
    </div>
}

@{
    if (Model.Info.ErrorMessage != null)
    {
        <div class="alert alert-error">
            <strong>Ошибка</strong>: @Model.Info.ErrorMessage
        </div>
    }
    else
    {
        <br />
        if (Model.Cadets.Count == 0)
        {
            <text>Поиск не дал результатов</text>
        }
        else
        {
            <text>@Model.Cadets.Count курсантов</text>
            <table class="table table-bordered table-striped search-result">
            <thead>
                    <th class="search-result-no">
                        №
                    </th>
                    <th class="search-result-fio">
                        ФИО
                    </th>
                    <th class="search-result-group">
                        Группа
                    </th>
            </thead>
            @{int index = 0;}
            @foreach (var cadet in Model.Cadets)
            {
                string fio = cadet.LastName + " " + cadet.FirstName + " "  + cadet.FathersName;
                index++;             
                  <tr>
                   <td class="search-result-no">
                        @index
                    </td>
                    <td class="search-result-fio">
                        @Html.ActionLink(fio, "Details", "CadetsData", new { cadetId = cadet.Id }, null) 
                    </td>
                    <td class="search-result-group">
                        @Html.ActionLink(cadet.Group.CompiledGroupNumber, "Index", "CadetsData", new { groupId = cadet.GroupId }, null) 
                    </td>
                  </tr>
                
                                    
            }
            </table>
    }
    }
    
}