﻿@using Cadet.PhysicalAccounting.Web.Models
@model Cadet.PhysicalAccounting.Web.Models.SessionData

@{
    Layout = null;
}

<table id="cadets-results-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="fio-cell">ФИО</th>
                <th class="normative">@NormsTypes.Power</th>
                <th class="normative">@NormsTypes.Agility</th>
                <th class="normative">@NormsTypes.Speed</th>
                <th class="normative">@NormsTypes.Endurance</th>
                <th class="normative">@NormsTypes.Military</th>
            </tr>
            <tr>
                <th class="normative-sub" />
                <th class="normative-sub">
                    <div class="table-editor-field">
                        @Html.DropDownListFor(model => model.PowerNormId, Model.PowerNorms, "№ упражнения")
                    </div>
                </th>
                <th class="normative-sub">
                    <div class="table-editor-field">
                        @Html.DropDownListFor(model => model.AgilityNormId, Model.AgilityNorms, "№ упражнения")
                    </div>
                </th>
                <th class="normative-sub">
                    <div class="table-editor-field">
                        @Html.DropDownListFor(model => model.SpeedNormId, Model.SpeedNorms, "№ упражнения")
                    </div>
                </th>
                <th class="normative-sub">
                    <div class="table-editor-field">
                        @Html.DropDownListFor(model => model.EnduranceNormId, Model.EnduranceNorms, "№ упражнения")
                    </div>
                </th>
                <th class="normative-sub">
                    <div class="table-editor-field">
                        @Html.DropDownListFor(model => model.MilitaryNormId, Model.MilitaryNorms, "№ упражнения")
                    </div>
                </th>
            </tr>
        </thead>
        
        <tbody>
            @Html.EditorFor(model => model.CadetResults)
        </tbody>
    </table>