﻿@model Cadet.PhysicalAccounting.Web.Models.SessionData
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    <script type="text/javascript">
        $(function() {
            $("#SemesterId").change(function() {
                $("#cadets-results-container").load("@Url.Action("GetResults", "CadetsData")/?groupId=" + @Model.GroupId + "&semesterId=" + $(this).val());
            });
        });
    </script>

    <script type="text/javascript">
       $("#cadets-results-container").load("@Url.Action("GetResults", "CadetsData")/?groupId=" + @Model.GroupId + "&semesterId=" + $("#SemesterId").val());
    </script>
}

@Html.HiddenFor(o => o.GroupId)
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    if (Model.Info.ErrorMessage != null)
    {
    <div class="subpage-header">
        Список курсантов - внесение результатов</div>
    }
    else
    {
    <div class="subpage-header">
        @Model.Group.CompiledGroupNumber учебная группа - внесение результатов</div>
    }
    
    <p />
    if (Model.Info.InfoMessage != null)
    {
        <div class="alert alert-info">
            @Model.Info.InfoMessage
        </div>
    }
    if (Model.Info.ErrorMessage != null)
    {
        <div class="alert alert-error">
            <strong>Ошибка</strong>: @Model.Info.ErrorMessage
        </div>
    }
    else
    {
        if (Model.Info.SuccessMessage != null)
        {
        <div class="alert alert-success">
            @Model.Info.SuccessMessage
        </div>
        }
    }

    <p/>
    
    <div class="cadet-semester-dropdown">
        <div class="cadet-semester-header">Номер семестра
            @Html.DropDownListFor(model => model.SemesterId, Model.Semesters)
            @Html.ValidationMessageFor(model => model.SemesterId, "Выберете номер семестра для выбора данных")
        </div>
    </div>


    <div id="cadets-results-container">
    </div>


    <fieldset>
        <legend>SessionData</legend>
        <p>
            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить изменения</text></button>
            <button type="button" class="btn button-back" title="Назад" value="Назад" onclick="location.href='@Url.Action("Index", "CadetsData", new { groupId = Model.Group.Id }, null)'" ><i class="icon-arrow-left"></i><text> Назад</text></button>
        </p>
    </fieldset>
}

