﻿@using Cadet.PhysicalAccounting.Web
@model Cadet.PhysicalAccounting.Web.Models.SessionData
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Список курсантов
            </p>
        </div>
    </section>
}

@if (Model.Info.ErrorMessage != null)
{
    <div class="subpage-header">Список курсантов</div>
}
else
{
    <div class="subpage-header">@Model.Group.CompiledGroupNumber учебная группа</div>
    if (User.IsPriveleged())
    {
                <br/>
                 <button class="btn btn-success button-edit-all"
                       type="button" 
                       title="Ввод результатов" 
                       value="Ввод результатов"
                       onclick="location.href='@Url.Action("WriteResults", "CadetsData", new { groupId = Model.Group.Id }, null)'"
                       style="color:Black"
                  >
                      <i class="icon-pencil"></i>
                      <text>Ввод результатов</text>
                  </button>
                <br/>

    }
}

@if (Model.Info.InfoMessage != null)
{
    <div class="alert alert-info">
        @Model.Info.InfoMessage
    </div>
}

@{
    if (Model.Info.ErrorMessage != null)
    {
        <div class="alert alert-error">
            <strong>Ошибка</strong>: @Model.Info.ErrorMessage
        </div>
    }
    else
    {
        <br />
        if (Model.Cadets.Count == 0)
        {
        <text>Список курсантов пуст</text>
        }
        else
        {
            <table class="table table-bordered table-striped search-result">
            <thead>
                    <th>
                        №
                    </th>
                    <th class="search-result-fio">
                        ФИО
                    </th>
            </thead>
            @{ int index = 0;}
            @foreach (var cadet in Model.Cadets)
            {
                index++;
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @{
                string fio = cadet.LastName + " " + cadet.FirstName + " " + cadet.FathersName;
                            
                        }
                        @Html.ActionLink(fio, "Details", "CadetsData", new { cadetId = cadet.Id }, null)
                    </td>
                </tr>
            }
            </table>
        }
    }
    
}