﻿@using Cadet.PhysicalAccounting.Web.Models
@model Cadet.PhysicalAccounting.DBProxy.Cadet
@{
    Layout = null;
    ViewData["animation"] = false;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Отчёт по группе @Model.Group.CompiledGroupNumber</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/bundles/highcharts")
        <script type="text/javascript" src="../../Scripts/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="../../Scripts/highcharts/modules/exporting.js"></script>
    
        <style>
            body {
                width: 297mm;
                height: 210mm;
                /* to centre page on screen*/
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        
        @Html.Partial("_ColumnGraphPartial", Model, ViewData)
    </head>
    
    <body onload="javascript:print();">
        <table id="report-container">
            <colgroup>
                <col width="12.5%">
                <col width="12.5%">
                <col width="12.5%">
                <col width="12.5%">
                
                <col width="12.5%">
                <col width="12.5%">
                <col width="12.5%">
                <col width="12.5%">
            </colgroup>
            <tbody>
                <tr>
                    <td id="report-photo-block" class="report-block" colspan="3">
                        <span class="cadet-info-photo">
                        @if (Model.Photo == null)
                        {
                            <text>Фото отсутствует</text>
                            <img id="report-photo" src="none" alt="Фотография отсутствует" />
                        }
                        else
                        {
                            <img id="report-photo"  
                                 src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" />
                        }
                    </span><span class="cadet-info-data">
                        <div>
                            <span class="cadet-info-label">Группа: </span><span><b>@Model.Group.CompiledGroupNumber</b></span>
                        </div>
                        <br />
                        <div>
                            <span class="cadet-info-label">Фамилия: </span><span>@Model.LastName</span>
                        </div>
                        <div>
                            <span class="cadet-info-label">Имя: </span><span>@Model.FirstName</span>
                        </div>
                        <div>
                            <span class="cadet-info-label">Отчество: </span><span>@Model.FathersName</span>
                        </div>
                        <br />
                        <div>
                            <span class="cadet-info-label">Год поступления: </span><span>@Model.Year</span>
                        </div>
                        <div>
                            <span class="cadet-info-label">Звание: </span><span>@Model.Rank.Name</span>
                        </div>
                    </span>
                </td>
                <td id="report-table-block" class="report-block" colspan="5">
                    <table id="norm-results" class="table table-bordered table-striped">
                        <thead>
                            <th class="number-cell-header">
                                № семестра
                            </th>
                            <th class="result-cell-header">@NormsTypes.Power</th>
                            <th class="result-cell-header">@NormsTypes.Agility</th>
                            <th class="result-cell-header">@NormsTypes.Speed</th>
                            <th class="result-cell-header">@NormsTypes.Endurance</th>
                            <th class="result-cell-header">@NormsTypes.Military</th>
                            <th class="result-cell-header">Общий балл</th>
                        </thead>
                        <tbody>
                            @{
                                var results = @Model.Results.OrderBy(o => o.Norm.Id);
                                var semesterResults = results.GroupBy(o => o.Semester.Number);
                                //semesterResults.First()
                            }
                            @foreach (var itSemRes in semesterResults)
                            {
                                var power = @itSemRes.SingleOrDefault(o => o.Norm.NormType.Id == @NormsTypes.PowerId);
                                var agility = @itSemRes.SingleOrDefault(o => o.Norm.NormType.Id == @NormsTypes.AgilityId);
                                var speed = @itSemRes.SingleOrDefault(o => o.Norm.NormType.Id == @NormsTypes.SpeedId);
                                var endurance = @itSemRes.SingleOrDefault(o => o.Norm.NormType.Id == @NormsTypes.EnduranceId);
                                var military = @itSemRes.SingleOrDefault(o => o.Norm.NormType.Id == @NormsTypes.MilitaryId);
                                <tr>
                                    <td class="result-cell">
                                        <b>@itSemRes.First().Semester.Number</b>
                                    </td>
                                    <td class="result-cell">
                                        @if (power != null)
                                        {
                                            <text>@power.Norm.Name (@power.Value)</text>
                                        }
                                        else
                                        {
                                            <text>-</text>
                                        }
                                    <td class="result-cell">
                                        @if (agility != null)
                                        {
                                            <text>@agility.Norm.Name (@agility.Value)</text>
                                        }
                                        else
                                        {
                                            <text>-</text>
                                        }
                                    </td>
                                    <td class="result-cell">
                                        @if (speed != null)
                                        {
                                            <text>@speed.Norm.Name (@speed.Value)</text>
                                        }
                                        else
                                        {<text>-</text>}
                                    </td>
                                    <td class="result-cell">
                                        @if (endurance != null)
                                        {
                                            <text>@endurance.Norm.Name (@endurance.Value)</text>
                                        }
                                        else
                                        {
                                            <text>-</text>
                                        }
                                    </td>
                                    <td class="result-cell">
                                        @if (military != null)
                                        {
                                            <text>@military.Norm.Name (@military.Value)</text>
                                        }
                                        else
                                        {
                                            <text>-</text>
                                        }
                                    </td>
                                    <td class="result-cell">
                                        @{
                                            var sum = ((power == null) ? 0 : power.Value)
                                                        + ((agility == null) ? 0 : agility.Value)
                                                        + ((speed == null) ? 0 : speed.Value)
                                                        + ((endurance == null) ? 0 : endurance.Value)
                                                        + ((military == null) ? 0 : military.Value);
                                            <text>@sum</text>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td id="report-graph1-block" class="report-block" colspan="4">
                    <div class="cadet-info-graphic" id="columnGraph">
                    </div>
                </td>
                <td id="report-graph2-block" class="report-block" colspan="4">
                    <div class="cadet-info-graphic" id="columnGraphStacked">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
