﻿@model Cadet.PhysicalAccounting.Web.Models.CadetResults

@{
    Layout = null;
}


<tr>
    @{
        string fio = Model.Cadet.FirstName + " " + Model.Cadet.LastName + " " + Model.Cadet.FathersName;
    }
    <td>
        @Html.ActionLink(fio, "Details", "CadetsData", new { cadetId = Model.Cadet.Id }, null)
        @Html.HiddenFor(o => o.Cadet.Id)
    </td>
                
    <td class="normative-sub">
        <div class="table-editor-field">
            @Html.TextBoxFor(model => model.Power)
        </div>
    </td>
    <td class="normative-sub">
        <div class="table-editor-field">
            @Html.TextBoxFor(model => model.Agility)
        </div>
    </td>
    <td class="normative-sub">
        <div class="table-editor-field">
            @Html.TextBoxFor(model => model.Speed)
        </div>
    </td>
    <td class="normative-sub">
        <div class="table-editor-field">
            @Html.TextBoxFor(model => model.Endurance)
        </div>
    </td>
    <td class="normative-sub">
        <div class="table-editor-field">
            @Html.TextBoxFor(model => model.Military)
        </div>
    </td>
</tr>