﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 1em;
}
body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 2em 2em 3em 2em;
}

div#body {
    height: 100%;
    min-height: 300px;
}

.content-wrapper {
    vertical-align: top;
}

/*
 *  Стили для основного лэйаута
 */
#left-panel {
    /*clear: both; */
    display: inline-block; 
    width: 200px;
    height: 100%;
    background-color: #fff;
    border: none;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 5px;
    padding: 10px;
    /*float:left;*/
}
.subpage-header {
    display: inline-block;
    color: black;
    padding: 2px;
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 18pt;
}
.main-content {
    width: 70%;
    clear: both;
    display: inline-block; 
}
nav {
    margin-top: 20px;
}
nav ul#menu li {
    font-size: 10pt;
}


/* Стили поиска */
#search-input {    
    width: 70%;
}
#search-button {
    margin: 5px; 
}
table.search-result {
    width: 100%
}
td.search-result-no {
    width: 10%
}
td.search-result-fio {
    width: 40%
}
td.search-result-group {
    width: 50%
}

/* Интерфейс БД  */
.div-button-edit-all{
    margin-bottom: 10px;
}

.div-button-edit-all{
    width: 100%;
    text-align: center;
    
}

/* Дерево */
.div-tree {
    margin: 10px 3px 10px 3px;
    overflow-y: scroll; 
    overflow-x: hidden; 
    height: 650px;
}
div.tree-style {
    width: 90%; 
    padding: 10px 3px 10px 10px;
}
.tree-close{
    display: none;
}
.tree-open{
    display: block;
}
.tree-selected{
    border-width: 10px;
    border-color: Red;
    background-color: Gray;
    background-color: #accdac;
    border: none;
    padding-left: 5px;
}

.tree-unselected {
    
}


/* Страница логина */
label.login-label {
    width: 100%
}
input.login-editbox {
    width: 100%
}
input.login-button {
    width: 100%
}