﻿@model Cadet.PhysicalAccounting.DBProxy.Semester

@{
    ViewBag.Title = "Редактирование пороговых значений";
}

<h2>Пороговое значение для @Model.Number семестра</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Сесместр</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Threshold, "Порогове значение")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Threshold)
            @Html.ValidationMessageFor(model => model.Threshold)
        </div>

        <p>
        <p>
            <button class="btn btn-success button-save" type="submit" value="Сохранить" ><i class="icon-ok  icon-white"></i><text> Сохранить</text></button>
            <button type="button" class="btn btn-danger button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index")'" ><i class="icon-remove icon-white"></i><text> Отмена</text></button>
        </p>
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
