﻿@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Результаты курсантов по физической подготовке.
            </p>
        </div>
    </section>
}
<h3>Для начала работы:</h3>
<ol class="round">
    <li class="one">
        <h5>шаг</h5>
        <p>
        Добавьте факультеты, группы и курсантов
        </p>
    </li>

    <li class="two">
        <h5>шаг</h5>
        <p>
        Добавьте результаты курсантов
        </p>
    </li>

    <li class="three">
        <h5>шаг</h5>
        <p>
        Просматривайте статистику их развития
        </p>
    </li>
</ol>
