﻿@model string


@{
    ViewBag.Title = "Ошибка доступа";
    
    string message;
    if (Model == null)
    {
        message = "Доступ к данной странице доступен только для администраторов системы";
    }
    else
    {
        message = Model;
    }
}


<div class="alert alert-error">
    <strong>Доступ запрещён!</strong>: @message
</div>