﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Faculty>

@{
    ViewBag.Title = "Факультеты";
}

<h2>Факультеты академии 
 <button type="button" class="btn btn-success button-add" title="Добавить факультет" value="Добавить факультет" onclick="location.href='@Url.Action("Create")'"><i class="icon-plus"></i></button>

</h2>
 <br/>  

<table class="table table-bordered table-striped ">
    <thead>
        <th>
        <b style="font-size:medium">
            <text>Факультет</text>
        </b>
        </th>
        <th></th>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
        <b style="font-size:small">
            @Html.ActionLink(item.Number + ". " + item.Title, "Index", "Course", new { facultyId = item.Id }, null)
         </b>
        </td>
        <td class="table-buttons-menu">
            <button type="button" class="btn btn-warning button-edit" value="Редактировать" title="Редактировать" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" ><i class="icon-pencil"></i></button>
            <!--<input type="button" class="button-view" title="Просмотр" value="Просмотр" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" />-->
            <button type="button" class="btn btn-danger button-delete" value="Удалить" title="Удалить" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'"> <i class="icon-trash"></i></button>
        </td>
    </tr>
}

</table>
<p>
    <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Edit","Home")'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>