﻿@model Cadet.PhysicalAccounting.Web.Models.LocalPasswordModel

<h3>Смена пароля</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма смены пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword, new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.OldPassword, new { Сlass = "login-editbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword, new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.NewPassword, new { Сlass = "login-editbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { Сlass = "login-editbox" })
            </li>
            <li>
                <input type="submit" value="Сменить пароль" class="btn btn-inverse login-button"/>
            </li>
        </ol>
    </fieldset>
}
