﻿@model Cadet.PhysicalAccounting.Web.Models.DeleteModel

@{
    ViewBag.Title = "Удаление пользователя";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма Удаления пользователя</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, "Имя пользователя", new { Сlass="login-label"})
                @Html.TextBoxFor(m => m.UserName, new { Сlass = "login-editbox" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, "Пароль", new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.Password, new { Сlass = "login-editbox" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                <button type="button" class="btn btn-inverse login-button" title="Назад" value="Назад" onclick="location.href='@Url.Action("Manage", "Account")'" ><i class="icon-arrow-left icon-white"></i><text> Назад</text></button>
                <input type="submit" value="Удалить" class="btn btn-inverse login-button"/>
            </li>
        </ol>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
