﻿@model Cadet.PhysicalAccounting.Web.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма входа в систему</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, new { Сlass="login-label"})
                @Html.TextBoxFor(m => m.UserName, new { Сlass = "login-editbox" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.Password, new { Сlass = "login-editbox" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <!--li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li-->
            <li>
                <input type="submit" value="Войти" class="btn btn-inverse login-button"/>
            </li>
        </ol>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
