﻿@using Cadet.PhysicalAccounting.Web
@model Cadet.PhysicalAccounting.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Управление аккаунтами";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Вы авторизованы как <strong>@User.Identity.Name</strong>.</p>


@Html.Partial("_ChangePasswordPartial")


@if (User.IsAdmin())
{
    <br />
    <h3>Функции администратора</h3>
    
    <ul class="edit-page-list">
        <li>
            <a href="@Url.Action("Register", "Account")"><i class="icon-pencil"></i> Регистрация нового пользователя</a>
        </li>
        <li>
            <a href="@Url.Action("Delete", "Account")"><i class="icon-pencil"></i> Удаление пользователя</a>
        </li>
    </ul>        
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
