﻿@model Cadet.PhysicalAccounting.Web.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация нового пользователя";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма регистрации</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, new { Сlass="login-label"})
                @Html.TextBoxFor(m => m.UserName, new { Сlass = "login-editbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.Password, new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.Password, new { Сlass = "login-editbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, new { Сlass = "login-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { Сlass = "login-editbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.Role, new { Сlass = "login-label" })
                @Html.DropDownListFor(m => m.Role, new SelectList(Roles.Provider.GetAllRoles()), new { Сlass = "login-editbox" })
            </li>
            <li>
                <button type="button" class="btn btn-inverse login-button" title="Назад" value="Назад" onclick="location.href='@Url.Action("Manage", "Account")'" ><i class="icon-arrow-left icon-white"></i><text> Назад</text></button>
                <input type="submit" value="Зарегистрировать" class="btn btn-inverse login-button"/>
            </li>
        </ol>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
