﻿@model Cadet.PhysicalAccounting.DBProxy.Group

@{
    ViewBag.Title = "Удаление группы";
}

<h2>Удаление группы</h2>

<h3>Вы уверены, что хотите удалить @Model.CompiledGroupNumber группу?</h3>

@using (Html.BeginForm()) {
    <p>
        <button class="btn btn-danger button-delete" type="submit" value="Удалить" ><i class="icon-ok icon-white"></i><text> Удалить</text></button>
        <button type="button" class="btn button-back" title="Отмена" value="Отмена" onclick="location.href='@Url.Action("Index", new { courseId = Model.CourseId})'" ><i class="icon-remove"></i><text> Отмена</text></button> 
    </p>
}


