﻿@model IEnumerable<Cadet.PhysicalAccounting.DBProxy.Group>

@{
    ViewBag.Title = "Список групп";
}

<h2>Список групп @ViewBag.CourseNumber курса факультета @ViewBag.FacultyName
<button type="button" class="btn btn-success button-add" title="Добавить группу" value="Добавить группу" onclick="location.href='@Url.Action("Create", new { facultyId = ViewBag.FacultyId, courseId = ViewBag.CourseId })'"><i class="icon-plus"></i></button>
</h2>

<table class="table table-bordered table-striped ">
    <tr>
        <th>
            <text>Номер группы</text>
        </th>
        <th>
            <text>Курс</text>
        </th>
        <th>
            <text>Специализация</text>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
            <td>
                <b style="font-size:small">
                @Html.ActionLink(item.CompiledGroupNumber, "Index", "Cadet", new { groupId = item.Id }, null)
                </b>
            </td>
            <td>
                <b style="font-size:small">
                <text> @item.Course.Number </text>
                </b>
            </td>
            <td>
                <b style="font-size:small">
                @Html.DisplayFor(modelItem => item.Speciality)
                </b>
            </td>
        <td class="table-buttons-menu">
            <button type="button" class="btn btn-warning button-edit" value="Редактировать" title="Редактировать" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" ><i class="icon-pencil"></i></button>
            <!--<input type="button" class="button-view" title="Просмотр" value="Просмотр" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" />-->
            <button type="button" class="btn btn-danger button-delete" value="Удалить" title="Удалить" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'"> <i class="icon-trash"></i></button>
         </td>
    </tr>
}

</table>

<p>
    <button type="button" class="btn btn-info button-back" title="Назад" value="Назад" style="color:Black" onclick="location.href='@Url.Action("Index", "Course", new { facultyId = ViewBag.FacultyId })'"><i class="icon-arrow-left"> </i> <text> Назад</text></button>
</p>